/* Reset styles */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
}

.BackgroundImage{
  background-image: url("Images/landing\ page.png");
  width: 100%;
    height: 105vh;
    background-size: cover;
    background-position: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 30px 40px 40px 30px;
  font-size: 22px;
  font-family: "Comic Neue";
}

/* .block-section {
  border: 3px solid white;
  padding: 20px;
  margin-bottom: 30px;
} */

#Rsalie{
  font-family: "Comic Neue";
  font-weight: bold;
  background-color: #333;
  color: #ffd400;
  font-size: 35px;
}

.navbar {
  border: 2px solid white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: end;
}

nav ul li {
  margin-right: 10px;

}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0px 0px 50px;
  transition: color 0.3s;
  text-align: end;
  display: inline;
}

nav ul li a:hover {
  color: #04AAF6;
}

main {
  padding: 150px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* .block-section {
  border: 2px solid #333;
  padding: 20px;
  margin-bottom: 30px;
} */

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons a {
  color: #fff;
  margin: 5px;
}

.social-icons a:hover {
  color: #555;
}